.about_section{
    height: 100%;
    text-align: left;
}

.about-card-row{
    display: table;
    width: 100%;
}


.description{
    text-align: left;
}

.v-container .image-container{
    border: 8px solid rgb(232 232 232 /93%);
}

.v-container>div{
    flex:1;
}

.v-right{
    gap: 0.3rem;
}

.about-image-container{
    width: 30rem;
    height: 45rem;
    overflow: hidden;
    border-radius:15rem 0rem 0rem 0rem;
    border: 4px solid rgba(7, 0, 0, 0.903); 
    flex-wrap: wrap; 
    /* float: left; */
}


.about-image-container>img{
    height:100%;
    width:100%;
    border-radius: 0px;
    object-fit: cover;
    float: left;
}

.about-image-container2{
    width: 30rem;
    height: 45rem;
    overflow: hidden;
    border-radius:0rem 15rem 0rem 0rem;
    border: 4px solid rgba(7, 0, 0, 0.903);  
    display: inline-block;
    /* float: right; */
}


.about-image-container2>img{
    height:100%;
    width:100%;
    border-radius: 0px;
    object-fit: cover;
    display: inline-block;
    /* float:right; */
}

.images_container{
    display: flex;
    width: 40%;
    margin-left: 7.5%;
}


.about_title{
    background-color: black;
    color: aliceblue;
    border-radius: 3rem 3rem 0rem 0rem;
    width: 90%;
    /* text-align: center; */
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 5px black 3rem 3rem 0rem 0rem ;
    font-size: 32px;
}

div>h2{
    text-align: center;
}

.about_container{
    display: table;
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    padding: 32px;
    margin-bottom: 3.5rem;
    border-radius: 0rem 0rem 3rem 3rem;
    
}

.about_column{
    display: table-cell;
}



.history_column {
    float: left;
    width: 27.5%;
    padding: 10px;
    /*height: 300px; /* Should be removed. Only for demonstration */
    /* background-color:#aaa; */
    margin-left: 8.75%;
    display: block;
    border-radius: 0rem 0rem 0rem 3rem;
  }

  .mission_column {
    float: left;
    width: 27.5%;
    padding: 10px;
    /*height: 300px; /* Should be removed. Only for demonstration */
    /* background-color:#bbb; */
    display: block;


  }


  .services_column {
    float: left;
    width: 27.5%;
    padding: 10px;
    /*height: 300px; /* Should be removed. Only for demonstration */
    /* background-color:#ccc; */
    display: block;
    border-radius: 0rem;
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .history_column, .mission_column,.services_column{
    background-color: aliceblue;
    display: table-cell;
    margin-bottom: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }

  #about{
    /* margin-bottom: 40rem; */
    overflow: auto;
  }

 

  @media (max-width: 1024px) {
    .about_section{
        /* margin-bottom: 5rem; */
      }
    }

  @media (max-width: 640px) {
    #about{
        /* margin-bottom: 30rem; */
      }

    .about-card-row{
        flex-direction: column;
        align-items: center;
        width: 100%;
       
    }

    .history_column{
        margin:auto;
    }


    .history_column, .mission_column,.services_column{
        width: 100%;
        background-color: aliceblue;
        margin: auto;
        overflow: hidden;
        /* margin-bottom: 2rem;
        border: black solid 1px; */
    }

    .column_header{
        text-align: center;
    }

    .about_column_mobile{
        display: block;
    }

    /* .about_title{
        background-color: rgba(0,0,0,0.92);
        color: aliceblue;
        text-align: center;
        width: 80%;
        margin-top: 10rem;
        margin-bottom: 3.5rem;
        /* margin: auto; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* padding: 8px 8px; */
        /* border-radius: 0.5rem; */
    /*} 

    .about_container{
        /* display: none; */
   /* }

   

    /* span>h1{
        margin: auto;
        /* background-color: aliceblue; */
        /* margin-bottom: 2rem;
        background-color: none;
        border-radius: 0.5rem; */
        /* border: rgb(0, 0, 35) solid 1px;  */
        /* width: max-content; */
   /* } 

    span>h2{
        /* text-align: center; */
        /* justify-content: center; */
        /* margin: auto;
        display: block;
    } */
  }
