.about_section{
    height: 100%;
    text-align: left;
}


.description{
    text-align: left;
}

.v-container .image-container{
    border: 8px solid rgb(232 232 232 /93%);
}

.v-container>div{
    flex:1;
}

.v-right{
    gap: 0.3rem;
}

.about-image-container{
    width: 30rem;
    height: 45rem;
    overflow: hidden;
    border-radius:15rem 0rem 0rem 0rem;
    border: 4px solid rgba(7, 0, 0, 0.903); 

    flex-wrap: wrap; 
    /* float: left; */
}


.about-image-container>img{
    height:100%;
    width:100%;
    border-radius: 0px;
    object-fit: cover;
    float: left;
}

.about-image-container2{
    width: 30rem;
    height: 45rem;
    overflow: hidden;
    border-radius:0rem 15rem 0rem 0rem;
    border: 4px solid rgba(7, 0, 0, 0.903);  
    display: inline-block;
    /* float: right; */
}


.about-image-container2>img{
    height:100%;
    width:100%;
    border-radius: 0px;
    object-fit: cover;
    display: inline-block;
    /* float:right; */
}

.images_container{
    display: flex;
    width: 40%;
    margin-left: 7.5%;
}

span > h1{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5.5rem;
}




.history_column {
    float: left;
    width: 27.5%;
    padding: 10px;
    /*height: 300px; /* Should be removed. Only for demonstration */
    /* background-color:#aaa; */
    margin-left: 9%;
    display: block;
  }

  .mission_column {
    float: left;
    width: 27.5%;
    padding: 10px;
    /*height: 300px; /* Should be removed. Only for demonstration */
    /* background-color:#bbb; */
    display: block;
  }


  .services_column {
    float: left;
    width: 27.5%;
    padding: 10px;
    /*height: 300px; /* Should be removed. Only for demonstration */
    /* background-color:#ccc; */
    display: block;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .about-card-row{
    background-color: aliceblue;
  }

  #about{
    /* margin-bottom: 40rem; */
    overflow: auto;
  }

  @media (max-width: 1024px) {
    .about_section{
        /* margin-bottom: 5rem; */
      }
    }

  @media (max-width: 640px) {
    #about{
        /* margin-bottom: 30rem; */
      }

    .about-card-row{
        flex-direction: column;
        align-items: center;
        width: 100%;
       
    }

    .history_column{
        margin:auto;
    }

    .history_column, .mission_column,.services_column{
        width: 100%;
        background-color: aliceblue;
        margin: auto;
        /* margin-bottom: 2rem;
        border: black solid 1px; */
       
    }

    span>h1{
        margin: auto;
        /* background-color: aliceblue; */
        margin-bottom: 2rem;
        background-color: none;
        border-radius: 0.5rem;
        /* border: rgb(0, 0, 35) solid 1px;  */
        width: max-content;
    }

    span>h2{
        /* text-align: center; */
        /* justify-content: center; */
        margin: auto;
        display: block;
    }
  }
