/* container */
/* .two-columns {
    
    display:flex;
    column-gap:2rem;
} */

/* columns */
/* .two-columns > * {
    width:calc(50% - 1rem);
} */

.project-background{
    background-color:white;
}

.r-card{
  background-color: rgba(255,255,255,0.95);
  border: midnightblue solid 0.1px;
  margin-top: 1.5rem;
}


/* .business-background{
  background-color: blue;
} */

.two-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-left: 25%;
    
  }
  
  @media screen and (min-width: 768px) {
    .two-columns {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .two-columns {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  







/* columns */
/* .two-columns > * {
    width:50%;
    padding:1rem;
} */