/* container */
.two-columns {
    columns: 2 auto;
    display:flex;
    column-gap:2rem;
}

/* columns */
.two-columns > * {
    width:calc(50% - 1rem);
}

.project-background{
    background-color:white;
}


/* container */
/* .two-columns {
    display:flex;
} */

/* columns */
/* .two-columns > * {
    width:50%;
    padding:1rem;
} */